<div class="container-fluid">
    <h3>TDF Login Form Angular</h3>
    <div class="login">
        <div class="card">
            <div class="container col-sm-6">
                <h2> Login</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div><br>
                    <div class="form-group mb-5">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
                <a href="#"> Forgot password?</a>
                <p class="text-muted text-center mt-3 mb-0">Don't have an account?
                    <a href="register.html" class="text-primary ml-1">register</a>
                </p><br><br>
            </div>
        </div><br><br>
    </div>
</div>