<div>
    <h1 class="text-center">Angular Project Creation</h1>
</div>

<div class="card">
    <h5 class="text-center">Commands</h5>
    <ol>
        <li>Install Node.js in Your System</li>
        <li>Install Vs code in Your System</li>
        <li>Install Angular CLI by below command</li>
        <h5 class="card text-center text-success">npm install -g @angular/cli</h5>
        <li>To Create Project by below command</li>
        <h5 class="card text-center text-success">ng new my-app</h5>
        <li>Change Directory</li>
        <h5 class="card text-center text-success">cd my-app</h5>
        <li>Run The Project</li>
        <h5 class="card text-center text-success">ng serve</h5>
        <li>Run The Project And Open Directly in the Browser</li>
        <h5 class="card text-center text-success">ng serve -open</h5>
        <li>To Create Componenet</li>
        <h5 class="card text-center text-success">ng generate componenet name</h5>
        <li>To Create Service</li>
        <h5 class="card text-center text-success">ng generate service name</h5>
        <li>To Create Module</li>
        <h5 class="card text-center text-success">ng generate Module name</h5>
    </ol>
</div>