<div class="container-fluid">
    <form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border p-5 mb-3 rounded-3 bg-light">
        <div class="row g-0">
            <div class="col text-center p-1 mb-3">
                <span class="fs-2">Registration Form</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname">
                <div class="form-text text-danger"
                    *ngIf="FirstName.errors?.['required'] && (FirstName.dirty || FirstName.touched)">First
                    Name is Required.
                </div>
                <div class="form-text text-danger"
                    *ngIf="FirstName.errors?.['minlength'] && (FirstName.dirty || FirstName.touched)">
                    Name is Too Short.
                </div>
                <div class="form-text text-danger"
                    *ngIf="FirstName.errors?.['pattern'] && (FirstName.dirty || FirstName.touched)">
                    First Name Should starts with Alphabet
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname">
                <div class="form-text text-danger"
                    *ngIf="LastName.errors?.['required'] && (LastName.dirty || LastName.touched)">
                    Last Name is Required.
                </div>
                <div class="form-text text-danger"
                    *ngIf="LastName.errors?.['minlength'] && (LastName.dirty || LastName.touched)">
                    Name is Too Short.
                </div>
                <div class="form-text text-danger"
                    *ngIf="LastName.errors?.['pattern'] && (LastName.dirty || LastName.touched)">
                    Last Name Should starts with Alphabet
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" formControlName="email">
                <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.dirty || Email.touched)">
                    Email is Required.
                </div>
                <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.dirty || Email.touched)">
                    Email is Invalid.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-3">
                <label for="mobile" class="form-label">Mobile Number</label>
                <input type="text" class="form-control" id="mobile" formControlName="mobile">
                <div class="form-text text-danger"
                    *ngIf="Mobile.errors?.['required'] && (Mobile.dirty || Mobile.touched)">
                    Mobile Number is Required.
                </div>
                <div class="form-text text-danger"
                    *ngIf="Mobile.errors?.['pattern'] && (Mobile.dirty || Mobile.touched)">
                    Mobile Number is Invalid.
                </div>
                <div class="form-text text-danger"
                    *ngIf="Mobile.errors?.['minlength'] && (Mobile.dirty || Mobile.touched)">
                    Enter Valid Number.
                </div>
                <div class="form-text text-danger"
                    *ngIf="Mobile.errors?.['maxlength'] && (Mobile.dirty || Mobile.touched)">
                    Enter 10 Numbers Only.
                </div>
            </div>
            <div class="col-sm-6 ps-3 mb-3">
                <div class="m-1">Gender</div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" value="male" id="male" formControlName="gender">
                    <label for="male" class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" value="female" id="female" formControlName="gender">
                    <label for="female" class="form-check-label">Female</label>
                </div>
                <div class="form-text text-danger" *ngIf="Gender.errors?.['required']">
                    Select Gender
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-2">
                <label for="pwd" class="foem-label">Password</label>
                <input type="password" class="form-control" id="pwd" formControlName="pwd">
                <div class="form-text text-danger" *ngIf="Pwd.errors?.['required'] && (Pwd.dirty || Pwd.touched)">
                    Password is Required.
                </div>
                <div class="form-text text-danger"
                    *ngIf="Pwd.errors?.['minlength'] || Pwd.errors?.['maxlength'] && (Pwd.dirty || Pwd.touched)">
                    Atleast Min. 6 Characters And Max. 12 Characters Only
                </div>
            </div>
            <div class="col-sm-6 mb-2">
                <label for="cpwd" class="foem-label">Confirm Password</label>
                <input type="password" class="form-control" id="cpwd" formControlName="cpwd">
            </div>
        </div>
        <div class="row">
            <div class="form-check m-3">
                <input class="form-check-input" type="checkbox" value="" id="checkbox" checked>
                <label class="form-check-label" for="checkbox">Accept Terms & Conditions</label>
            </div>
        </div>
        <div class="row">
            <div class="col-6 offset-3">
                <div class="d-grid">
                    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>