<div>
    <h1 class="text-center">Datatypes</h1>
</div>
<div class="container">
    <div class="card">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Data Type</th>
                    <th>keyword </th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>String</td>
                    <td>string</td>
                    <td>It is used to represent a sequence of characters</td>
                </tr>
                <tr>
                    <td>Number</td>
                    <td>number</td>
                    <td>It is used to represent both Integer as well as Floating-Point numbers</td>
                </tr>
                <tr>
                    <td>Boolean</td>
                    <td>boolean</td>
                    <td>Represents true and false</td>
                </tr>

                <tr>
                    <td>Void</td>
                    <td>void</td>
                    <td>Generally used on function return-types
                    </td>
                </tr>
                <tr>
                    <td>Null</td>
                    <td>null</td>
                    <td>It is used when an object does not have any value
                    </td>
                </tr>
                <tr>
                    <td>Undefined</td>
                    <td>undefined</td>
                    <td>Denotes value given to uninitialized variable
                    </td>
                </tr>
                <tr>
                    <td>Any</td>
                    <td>any</td>
                    <td>If variable is declared with any data-type then any type of value can be assigned to that
                        variable
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div><br>
<div class="container">
    <h3>Examples : </h3>
    <pre>
    let d: string = 'Geeks'; or "Geeks"; 

    let b: number = 123; 

    let f: boolean = true; or false;   

    let a: null = null;

    let e: undefined = undefined;
    </pre>
    <h3>For any you assign all datatypes</h3>
    <div class="card">
        <pre>

        let a: any = null;

        let b: any =123;

        let c: any = 123.456;

        let d: any = ‘Geeks’;

        let e: any = undefined;

        let f: any = true;

    </pre>
    </div>
</div>