<div class="sidenav">
    <ul>
        <li><a routerLink="/angular-intro" routerLinkActive="active">Introduction</a></li>
        <li><a routerLink="/datatypes" routerLinkActive="active">DataTypes</a></li>
        <li><a routerLink="/databindings" routerLinkActive="active">Data Binding</a></li>
        <li><a routerLink="/directives" routerLinkActive="active">Structural Directives</a></li>
        <li><a routerLink="/pipes" routerLinkActive="active">Pipes</a></li>
        <li><a routerLink="/communication" routerLinkActive="active">Communication</a></li>
        <li><a routerLink="/parent" routerLinkActive="active">Parent Component</a></li>
        <li><a routerLink="/angular-forms" routerLinkActive="active">Angular Forms</a></li>
        <li><a routerLink="/reactive-froms" routerLinkActive="active">Reactive Forms</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/promises" routerLinkActive="active">Promises</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
    </ul>
</div>
<!-- <div *ngFor="let n of navlinks">
    <ul>
        <li>
            <a> {{n}} </a>
        </li>
    </ul>
</div> -->