ul {
  padding-left: 0;
  margin-top: 5px;
}
li {
  list-style-type: none;
  text-decoration: none;
  font-size: 20px;
  padding: 2px;
}
li a {
  text-decoration: none;
  display: block;
  padding: 3px;
  color: black;
}
li a:hover {
  color: white;
  background-color: #216ff6;
}
a.active {
  color: white !important;
  background-color: #216ff6;
}
